@font-face {
    font-family: yoxall;
    src: url(./fonts/yoxall_b.ttf);
  }
  
  :root {
    font-size: 16px;
    --dark001: #1a1b1c;
    --light001: #fafcfe;
    --red001: #ff5757;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
  
body {
    background-color: var(--light001);
    height: 100%;
    font-family: Open Sans, sans-serif;
}

.wrap-content {
    max-width: 80%;
}

.home__main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main__content h1 {
    color: var(--dark001);
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.main__content span {
    display: block;
    height: 1px;
    width: 40%;
    background-color: var(--dark001);
    margin-bottom: 3rem;
}
.main__content p {
    font-size: 1rem;
    line-height: 180%;
    margin-bottom: 3rem;
}

.main__content a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--light001);
    border-radius: 40px;
    text-transform: uppercase;
    background-color: var(--dark001);
    border: 1px solid var(--dark001);
    padding: 15px 80px;
    transition: 0.3s ease;    
}
.main__content a:hover {
    color: var(--dark001);
    background-color: var(--light001);
}

.main__visual {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.group-one {
    display: flex;
    flex-direction: column;
}
.group-two {
    display: flex;
    flex-direction: column;
}

.card__profile {
    width:50px;
    height: 50px;
    border-radius: 50%;
}

.card--square {
    height: 0;
    padding-top: calc(100% - 32px);
}

.card--large {
    flex: auto;
}

.group-one {
    display: flex;
    flex-direction: column;
    grid-column: 1/span 1;
}
.group-two {
    display: flex;
    flex-direction: column;
    grid-column: 2/span 1;
}

.card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 8px;
    display: flex;
    flex-direction: column-reverse;
}

.card__header {
    padding: 1rem 2rem;
}
.card__link {
    color: var(--light001);
    text-decoration: none;
    font-size: 1rem;   
}
.group-one .card--square {
    background-image: linear-gradient(
        180deg,
        rgba(26, 27, 28, 0) 50%,
        rgba(26, 27, 28, 0.2) 74.85%,
        rgba(26, 27, 28, 0.4) 100%
      ),url(../png/marques-brownlee.jpg);
}

.group-one .card--large {
    background-image: linear-gradient(
        180deg,
        rgba(26, 27, 28, 0) 50%,
        rgba(26, 27, 28, 0.2) 74.85%,
        rgba(26, 27, 28, 0.4) 100%
      ),url(../png/tech-me-out.jpg);
 
}

.group-two .card--square {
    background-image: linear-gradient(
        180deg,
        rgba(26, 27, 28, 0) 50%,
        rgba(26, 27, 28, 0.2) 74.85%,
        rgba(26, 27, 28, 0.4) 100%
      ),url(../png/peter-mckinnon.jpg);
 }

.group-two .card--large {
    background-image: linear-gradient(
        180deg,
        rgba(26, 27, 28, 0) 50%,
        rgba(26, 27, 28, 0.2) 74.85%,
        rgba(26, 27, 28, 0.4) 100%
      ),url(../png/ijustine.jpg);
}

@media only screen and (max-width: 600px) {
    .home__main {
        display: flex;
        flex-direction: column;
    }
    .main__visual {
        display: flex;
        flex-direction: column;
    }
    .card--large {
        height: 0;
        padding-top: calc( 100% - 32px );
    }

    .main__content {
        margin: 3rem 0;
    }
    .main__content a {
        padding: 8px 40px;
    }
    .main__content h1 {
        font-size: 2rem;
    }
    .main__content p {
        font-size:0.8 rem;
    }
}